@import url('https://fonts.googleapis.com/css2?family=National+Park:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

body
{
    margin:0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header
{
    display:flex;
    position:sticky;
    margin: 0;
    width:100%;
    height: 50pt;
    background-color: rgb(7, 70, 7);
    align-items: center;
}

#sitename
{
    color:white;
    margin: 20pt;
    font-family: 'Special Gothic Expanded One', Arial, sans-serif;
}

.inputLabel
{
    display:inline;
    margin:0px;
}

.inputFlexbox
{
    display:flex;
    flex-wrap: wrap;
    align-items:center;
    width:100%;
    padding: 8px;
}

.inputFlexbox>input
{
    flex: 1;
    margin-left: 4px;
}

[popover]:popover-open input, [popover]:popover-open button
{
    box-sizing: border-box;
    height: 25px;
}

[popover]:popover-open button
{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: 80px;
}

[popover]:popover-open
{
    display:flex;
    width: 500px;
    flex-direction: row;
    flex-wrap: wrap;
}

#headerbuttons
{
    display:flex;
    justify-content: right;
    flex: 1;
}

#headerbuttons>button
{
    margin-right: 16px;
    font-size: medium;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
    font-family: 'Roboto', Arial, sans-serif;
}

[popover]:popover-open h2
{
    width: 100%;
}

[popover]:popover-open p:not(.inputLabel)
{
    margin: 8px;
}

#logocontainer
{
    display:flex;
    height: 100%;
    width: auto;
    align-items: center;
}

#sitename
{
    margin-left:5pt;
    font-size: 24pt;
}

#mainlogo
{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20pt;
    max-height: 75%;
}

h2
{
    margin: 10pt;
}

table
{
    margin-left:30pt;
}

.flexTable, .flexTr, .flexTd {
    border: 1px solid black;
    border-collapse: collapse;
}

.flexTd
{
    border-width: 0px 1px 0px 1px;
}

.flexTr
{
    border-width: 0px 0px 1px 0px;
}

.flexTr:last-child
{
    border-width: 0;
}

.completedClass
{
    background-color: rgb(182, 255, 182);
}

.inprogressClass
{
    background-color: rgb(251, 255, 182);
}

th
{
    font-size:larger;
}

#scheduletable
{
    flex-basis: 800px;
    max-width: 800px;
    margin-left: 50px;
}

@media screen and (max-width:900px) 
{
    #scheduletable
    {   
        flex: 1;
        flex-basis: 90%;
        max-width:90%;
        margin-left:auto;
        margin-right:auto;
    }
}

td
{
    height: 40pt;
    padding: 0pt 10pt;
}

.flexTable
{
    display: flex;
    flex-wrap: wrap;
}

.flexTr
{
    display: flex;
    margin: 0px;    
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.flexTd
{
    display:flex;
    margin: 0px;    
    height: 30px; 
    align-items: center;
    box-sizing: border-box;
    padding: 8px
}

.flexTh
{
    font-weight: bold;
}

.timeColumn
{
    flex-basis: 130pt;
    max-width: 130pt;
}

.blockColumn
{
    flex-basis: 60pt;
    max-width: 60pt;
}

.classColumn
{
    flex: 1;
}

.responsivelabel
{
    display: none;
}

@media screen and (max-width: 600px) {
    .flexTh
    {
        display:none;
    }
    
    .flexTd
    {
        flex-basis: 100%;
        max-width: 100%;
        border-width: 0px 0px 1px 0px;
    }

    .flexTr
    {
        border-width: 0px 0px 3px 0px;
    }

    .flexTr:last-child
    {
        border-width: 0;
    }

    #scheduletable
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .responsivelabel
    {
        display:inline;
        font-weight: bold;
    }

    [popover]:popover-open
    {
        width: 83.3333%
    }

    [popover]:popover-open button
    {
        width:100%;
        margin-top: 8px;
    }

    [popover]:popover-open input
    {
        width:100%;
        margin-top: 0px;
    }

    #logocontainer
    {
        height: 80%;
        font-size: 18pt
    }

    #sitename
    {
        font-size: 18pt
    }

    .inputLabel
    {
        display: block;
        width:100%;
        margin-bottom: 0px;
    }
}