@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

body
{
    margin:0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header
{
    display:flex;
    position:sticky;
    margin: 0;
    width:100%;
    height: 50pt;
    background-color: rgb(7, 70, 7);
    align-items: center;
}

header p
{
    color:white;
    margin: 20pt;
    font-family: 'Special Gothic Expanded One', Arial, sans-serif;
}

#sitename
{
    margin-left:5pt;
    font-size: xx-large;
}

#mainlogo
{
    margin-left: 20pt;
    max-height: 75%;
}

h2
{
    margin: 10pt;
}

table
{
    margin-left:30pt;
}

.flexTable, .flexTr, .flexTd {
    border: 1px solid black;
    border-collapse: collapse;
}

.flexTd
{
    border-width: 0px 1px 0px 1px;
}

.flexTr
{
    border-width: 0px 0px 1px 0px;
}

.flexTd
{
    width: 33.333333333%;
}

th
{
    font-size:larger;
}

#scheduletable
{
    width: 500pt;
}

td
{
    height: 40pt;
    padding: 0pt 10pt;
}

.flexTable
{
    display: flex;
}

.flexTr
{
    display: flex;
    margin: 0px;    
    width: 100%;
    height: 30px;
    box-sizing: border-box;
}

.flexTd
{
    display:flex;
    margin: 0px;    
    height: 100%; 
    align-items: center;
    box-sizing: border-box;
}

