@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

body
{
    margin:0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

header
{
    display:flex;
    position:sticky;
    margin: 0;
    width:100%;
    height: 50pt;
    background-color: rgb(7, 70, 7);
    align-items: center;
}

header p
{
    color:white;
    margin: 20pt;
    font-family: 'Special Gothic Expanded One', Arial, sans-serif;
}

#sitename
{
    margin-left:5pt;
    font-size: xx-large;
}

#mainlogo
{
    margin-left: 20pt;
    max-height: 75%;
}

h2
{
    margin: 10pt;
}

table
{
    margin-left:30pt;
}

.flexTable, .flexTr, .flexTd {
    border: 1px solid black;
    border-collapse: collapse;
}

.flexTd
{
    border-width: 0px 1px 0px 1px;
}

.flexTr
{
    border-width: 0px 0px 1px 0px;
}

.flexTr:last-child
{
    border-width: 0;
}

.completedClass
{
    background-color: rgb(182, 255, 182);
}

.inprogressClass
{
    background-color: rgb(251, 255, 182);
}

th
{
    font-size:larger;
}

#scheduletable
{
    flex-basis: 800px;
    max-width: 800px;
    margin-left: 50px;
}

@media screen and (max-width:900px) 
{
    #scheduletable
    {   
        flex: 1;
        flex-basis: 90%;
        max-width:90%;
        margin-left:auto;
        margin-right:auto;
    }
}

td
{
    height: 40pt;
    padding: 0pt 10pt;
}

.flexTable
{
    display: flex;
    flex-wrap: wrap;
}

.flexTr
{
    display: flex;
    margin: 0px;    
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.flexTd
{
    display:flex;
    margin: 0px;    
    height: 30px; 
    align-items: center;
    box-sizing: border-box;
    padding: 8px
}

.flexTh
{
    font-weight: bold;
}

.timeColumn
{
    flex-basis: 130pt;
    max-width: 130pt;
}

.blockColumn
{
    flex-basis: 50pt;
    max-width: 50pt;
}

.classColumn
{
    flex: 1;
}

.responsivelabel
{
    display: none;
}

@media screen and (max-width: 600px) {
    .flexTh
    {
        display:none;
    }
    
    .flexTd
    {
        flex-basis: 100%;
        max-width: 100%;
        border-width: 0px 0px 1px 0px;
    }

    .flexTr
    {
        border-width: 0px 0px 3px 0px;
    }

    .flexTr:last-child
    {
        border-width: 0;
    }

    #scheduletable
    {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .responsivelabel
    {
        display:inline;
        font-weight: bold;
    }
}